.testimonal {
  position: relative;
}
.text {
  line-height: 24px;
}
.author {
  gap: var(--dl-space-space-unit);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.avatar {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.image {
  width: 40px;
  height: 40px;
  display: flex;
  object-fit: cover;
  border-radius: 50%;
}
.user {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.name {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 600;
}
.divider {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.from {
  color: rgb(0, 0, 0);
}
@media(max-width: 767px) {
  .text {
    font-size: 14px;
    line-height: 21px;
  }
  .image {
    width: 28px;
    height: 28px;
  }
  .name {
    font-size: 14px;
  }
  .from {
    font-size: 14px;
  }
}
